@import '~styles/utils';

.Page404 {
  padding: 40px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(1024) {
      text-align: center;
      flex-direction: column;
    }
  }

  &__title {
    font-size: 200px;
    font-weight: 800;

    @include breakpoint(600) {
      font-size: 130px;
    }
  }

  &__desc {
    margin-left: 50px;
    font-size: 72px;

    @include breakpoint(1024) {
      margin-left: 0;
    }
    @include breakpoint(600) {
      font-size: 40px;
    }
  }
}