@import '~styles/utils';

.Home {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 40px;
    font-weight: 800;
  }

  &__data {
    max-width: 400px;

    &-wrapper {
      flex: 1;
    }
  }

  &__desc {
    padding: 15px 0 30px 0;
    color: $black-light;
    font-size: 20px;
  }

  &__img {
    &-wrapper {
      flex: 1.5;
    }
  }
}
