$white: #ffffff;
$inactive: #f5f5f5;
$default: #dedede;
$primary: rgba(4, 185, 106, 0.9);
$primary-hover: #04b96a;
$notification: #d2a702;
$error: #b94b01;
$alert: #01a2bb;
$black-light: #505050;
$black: #494949;

// font
$font-family: 'Montserrat', sans-serif;
$font-size: 15px;

$box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
