$white: #ffffff;
$inactive: #f5f5f5;
$default: #dedede;
$primary: #04b96a;
$primary-hover: rgba(4, 185, 106, 0.8);
$notification: #d2a702;
$error: #b94b01;
$alert: #01a2bb;
$black: #505050;

// font
$font-family: 'Montserrat', sans-serif;
$font-size: 15px;
