@import '~styles/utils';

.Header {
  box-shadow: $box-shadow;
  height: 65px;
  background-color: $white;
  display: flex;
  align-items: center;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
}
